################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/assignment1/v15/ipch
/.vs
/Client/frame_v4/.vs/LabProject08-8/v15
/Client/frame_v4/Debug
/Client/TestProject/Morphosis/.vs/Morphosis/v15
/FBXConverter/FBXConverter/.vs/FBXConverter/v15
/FBXConverter/수정본/FBXConverter_mesh 수정본/.vs/FBXConverter/v15
