################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/assignment1/v15/ipch
/.vs
/Client/frame_v4/.vs/LabProject08-8/v15
/Client/frame_v4/Debug
